@import url(".././../../../../styles.css");
.patient-details-container{
  padding: 45px 30px;
}
.hms-f-group {
  margin-bottom: 28px;
}
.hms-f-group  input, .hms-f-group textarea{
  background: transparent;
}
.hms-f-group label {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.hms-f-group input {
  width: 100%;
  border: none;
  /* background: transparent; */
}
.hms-f-group input[type="text"], .hms-f-group.tel {
  border-bottom: 1px solid var(--mainTextLight);
}
.hms-f-group input[type="button"] {
  background: var(--linkText);
  width: auto;
  padding: 16px 15px;
  border-radius: 10px;
  color: var(--white);
}
.hms-f-group label span {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--mainTextLight);
  margin-left: 10px;
}
.f-group-age-btn-wrapper {
  display: flex;
  justify-content: space-between;
}
.tel-phone-wrapper {
  display: flex;
  align-items: centers;
}
.tel-phone-wrapper select {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #8c8fa5;
  border: none;
  margin-right: 7px;
  background: transparent;
}
.gender-wrapper {
  display: flex;
}
.hms-checkbox-wrapper {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  padding: 0;
  position: relative;
}
.gender-wrapper .hms-checkbox-wrapper input[type="button"] {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  padding: 0;
  background: var(--mainTextLight);
  color: transparent;
}
.hms-f-checkbox {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.hms-f-checkbox label {
  margin-bottom: 0;
  margin-left: 10px;
  width: initial;
}
.hms-checkbox-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
}
.svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.hms-f-group.problem label span{
  margin-left: 0;
}
textarea {
  width: 100%;
  border: 1px solid rgba(140, 143, 165, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 19px 13px;
}
.hms-btn-double{
  display: flex;
  justify-content: space-between;
}