@import "../../../styles.css";
.main-headline{
    padding: 20px;
}
.home-wrapper{
    background-color: var(--primaryDark);
}
.main-area{
    background-color: var(--primaryLightest);
    border-radius: 53px 53px 0px 0px;
    height: 700px;
    padding: 33px 30px;
}
.categories-wrapper{
    /* margin-top: 21px; */
    margin-bottom: 27px;
}
.categories{
    display: flex;
    justify-content: space-between;
}
.categories-header, .tdoc-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}
.card-t{
    margin: 0;
}
.card-pic{
    margin-bottom: 7px;
}