<div class="home-wrapper">
  <div class="main-headline">
    
    <app-search (searchEvent)="searchDoctor($event)"></app-search>
    <div *ngIf="showDoctorSearch">
      <p *ngFor="let doctor of doctors" (click)="displayDoctorDetails(doctor)">
        {{ doctor.firstname }} {{ doctor.lastname }}
      </p>
    </div>
    <div *ngIf="!showDoctorSearch">
      <p>{{ selectedDoctor.firstname }} {{ selectedDoctor.lastname }}</p>
      <p>{{ selectedDoctor.email }}</p>
    </div>
  </div>
  <div class="main-area">
    <div class="categories-wrapper">
      <div class="categories-header">
        <p class="categories-title">Categories</p>
        <p class="see-more">See all</p>
      </div>
      <div class="categories">
        <app-cards *ngFor="let cat of categories">
          <img [src]="cat.pic" alt="" class="card-pic">
          <p class="card-t">{{ cat.title }}</p>
        </app-cards>
      </div>
    </div>
    <div class="top-doctors-wrapper">
      <div class="tdoc-header">
        <p class="tdoc-title">Top Doctors</p>
        <p class="see-more">See all</p>
      </div>
      <div class="tdocs">
        <app-doctor-view-card></app-doctor-view-card>
      </div>
    </div>
    
  </div>
</div>
