@import "../../../styles.css";
.main-headline {
  padding: 20px;
}
.home-wrapper {
  background-color: var(--linkText);
}
.main-area {
  background-color: var(--primaryLightest);
  border-radius: 53px 53px 0px 0px;
  /* height: 700px; */
  padding: 33px 30px;
}
.categories-wrapper {
  /* margin-top: 21px; */
  margin-bottom: 27px;
}
.categories {
  display: flex;
  justify-content: space-between;
}
.categories-header,
.tdoc-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}
.categories-header .categories-title,
.tdoc-header .tdoc-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
}
.categories-header .see-more,
.tdoc-header .see-more {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: var(--linkText);
}
.card-t {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: var(--mainTextDark);
  margin: 0;
}
.card-pic {
  margin-bottom: 7px;
}
.search-result{
    margin-top: 32px;
}
.doc-result{
    padding-bottom: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--mainTextLight);
    color: var(--mainTextLight);
}
.result-header{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--mainTextDark);
    margin-bottom: 11px;
}
@media only screen and (min-width: 392px){
  .card-t{
      font-size: 15px;
  }
}