.book-btn {
    padding: 6px 14px;
    color: var(--white);
    border-radius: 3px;
    background-color: var(--primaryDark);
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    width: 100%;
  }