.categories-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10px;
    width: 96px;
    /* min-width: 90px;
    max-width: 200px; */
    height: 106px;
    padding: 20px 10px;
}
/* For medium phones */
@media only screen and (min-width: 392px){
    .categories-card{
        width: 108px;
    }
}