/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
:root {
    --primaryDark: #1F58E7;
    --primaryDefault: #336CFB;
    --primaryHover: #558EFF;
    --primaryLight: #A9C1FD;
    --primaryLightest: #EBF0FF;
    --white: #ffffff;
    --neutralBlack: #25282B;
  }

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Raleway', sans-serif;
  }
  h1, h2, h3, h4, h5, h6, p{
    margin: 0;
  }
  button{
    border: none;
    outline: none;
  }
  /* .form_container{

    background-color: var(--primaryDark);
} */