/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --primaryDark: #1F58E7;
    --primaryDefault: #336CFB;
    --primaryHover: #558EFF;
    --primaryLight: #A9C1FD;
    --primaryLightest: #EBF0FF;
    --white: #ffffff;
    --neutralBlack: #25282B;
  }

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  /* .form_container{

    background-color: var(--primaryDark);
} */